 
        /* Style the Sticky icons on web page */   
        .stickyicon-list {   
        position: fixed;   
        top: 430px;   
        transform: translateY(-50%); 
        
                 
        }         
        .stickyicon-list a {   
        display: block;   
        text-align: center;   
        padding: 10px;   
        padding-bottom: 3px;
        transition: all 0.5s ease;   
        color: white;   
        font-size: 35px; 
        }         
        /* Hover affect on sticky social media icons */   
        .stickyicon-list a:hover {   
        color: #000;   
        }   
           
        /* Now we have to design each icon of social media */         
        .facebook {   
        background: #3b5998;   
        color: white; 
        width: 50px;
        height: 50px; 
        }         
        .twitter {   
        color: white;   
        background: #00acee; 
        width: 50px;
        height: 50px;  
        }   
        .linkedin {   
        background: #0e76a8;   
        color: white;
        width: 50px;
        height: 50px;   
        }         
        .google {   
        color: white;   
        background: #db4a39; 
        width: 50px;
        height: 50px;  
        }   
        .instagram {   
        background: #3f729b;   
        color: white; 
        width: 50px;
        height: 50px;  
        }         
        .youtube {   
        color: white;   
        background: #c4302b; 
        width: 50px;
        height: 50px;   
        }   
