bin
obj
packages
/packages
/obj
/.vs
/bin
*.suo
*.user
_ReSharper.*
bin
obj
packages
*.dll
*.dll.config
*.pdb
/bin/kgetechnologies.com.dll
/bin/kgetechnologies.com.dll.config
/bin/kgetechnologies.com.pdb
