<div data-elementor-type="wp-page" data-elementor-id="109" class="elementor elementor-109" data-elementor-settings="[]">
	<div class="elementor-inner">
		<div class="elementor-section-wrap">
			<section class="elementor-element elementor-element-5816b60 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="5816b60" data-element_type="section">
				<div class="elementor-container elementor-column-gap-extended">
					<div class="elementor-row">
						<div class="elementor-element elementor-element-322fec3 elementor-column elementor-col-50 elementor-top-column" data-id="322fec3" data-element_type="column">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<section class="elementor-element elementor-element-1e9a80d elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="1e9a80d" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
										<div class="elementor-container elementor-column-gap-no">
											<div class="elementor-row">
												<div class="elementor-element elementor-element-c73e8ee elementor-column elementor-col-100 elementor-inner-column" data-id="c73e8ee" data-element_type="column">
													<div class="elementor-column-wrap  elementor-element-populated">
														<div class="elementor-widget-wrap">
															<div class="elementor-element elementor-element-658a175 elementor-widget elementor-widget-iheading" data-id="658a175" data-element_type="widget" data-widget_type="iheading.default">
																<div class="elementor-widget-container">
																	<div class="ot-heading left-align text-light">
																		<h6><span>contact details</span></h6>
																		<h2 class="main-heading">
																			Our Contacts
																		</h2>
																	</div>
																</div>
															</div>
															<div class="elementor-element elementor-element-dba913e elementor-widget elementor-widget-text-editor" data-id="dba913e" data-element_type="widget" data-widget_type="text-editor.default">
																<div class="elementor-widget-container">
																	<div class="elementor-text-editor elementor-clearfix">
																		<p>Give us a call or whatsapp anytime, we endeavour to answer all enquiries within 24 hours on business days. We will be happy to answer your questions.</p>
																	</div>
																</div>
															</div>
															<div class="elementor-element elementor-element-4407c6c elementor-widget elementor-widget-icontact_info" data-id="4407c6c" data-element_type="widget" data-widget_type="icontact_info.default">
																<div class="elementor-widget-container">
																	<div class="contact-info text-light">
																		<i class="flaticon-world"></i>
																		<div class="info-text">
																			<h6>Our Address:</h6>
																			<p style="font-size: 16px!important;">USA: Thousand Oaks, California</p>
																			<p style="font-size: 16px!important;">Offshore: Guduvancherry, Chennai, India.</p>
																		</div>
																	</div>
																</div>
															</div>
															<div class="elementor-element elementor-element-05f299e elementor-widget elementor-widget-icontact_info" data-id="05f299e" data-element_type="widget" data-widget_type="icontact_info.default">
																<div class="elementor-widget-container">
																	<div class="contact-info text-light">
																		<i class="flaticon-note"></i>
																		<div class="info-text">
																			<h6>Our mailbox:</h6>
																			<p><a href="/mailto:enquiry@kgetechnologies.com">enquiry@kgetechnologies.com</a></p>
																		</div>
																	</div>
																</div>
															</div>
															<div class="elementor-element elementor-element-22856f4 elementor-widget elementor-widget-icontact_info" data-id="22856f4" data-element_type="widget" data-widget_type="icontact_info.default">
																<div class="elementor-widget-container">
																	<div class="contact-info text-light">
																		<i class="flaticon-viber"></i>
																		<div class="info-text">
																			<h6>Our phones:</h6>
																			<p><a href="/tel:+18053671441">+1 (805) 367-1441</a></p>
																			<p><a href="/tel:+919445944601">+91 9445 9446 01/02</a></p>
																		</div>
																	</div>
																</div>
															</div>

														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>
						<div class="elementor-element elementor-element-2a7f668 elementor-column elementor-col-50 elementor-top-column" data-id="2a7f668" data-element_type="column">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-a558ced elementor-widget elementor-widget-iheading" data-id="a558ced" data-element_type="widget" data-widget_type="iheading.default">
										<div class="elementor-widget-container">
											<div class="ot-heading left-align">
												<h6><span>GET IN TOUCH</span></h6>
												<h2 class="main-heading">Reach Us</h2>
											</div>
										</div>
									</div>
									<div class="elementor-element elementor-element-ce8ae36 elementor-widget elementor-widget-onum-contact-form-7" data-id="ce8ae36" data-element_type="widget" data-widget_type="onum-contact-form-7.default">
										<div class="elementor-widget-container">
											<div class="elementor-shortcode onum-cf7-0">
												<div role="form" class="wpcf7" id="wpcf7-f5-p109-o1" lang="en-US" dir="ltr">
													<div class="screen-reader-response"></div>
													<form method="post" action="#" class="wpcf7-form" id="contact-form">
														<div style="display: none;">
															<input type="hidden" name="_wpcf7" value="5" />
															<input type="hidden" name="_wpcf7_version" value="5.1.7" />
															<input type="hidden" name="_wpcf7_locale" value="en_US" />
															<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5-p109-o1" />
															<input type="hidden" name="_wpcf7_container_post" value="109" />
														</div>
														<p>
															<label> Your Name <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" id="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" required /></span> </label> <br />
															<label> Your Email<span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" id="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" required /></span> </label> <br />
															<label> Subject   <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" id="subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" required /></span> </label> <br />
															<label>
																Your Message<br />
																<span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" id="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" required></textarea></span>
															</label> <br />
															<label>
																Your Mobile Number<br />
																<span class="wpcf7-form-control-wrap MobileNumber"><input type="number" name="MobileNumber" id="mobileno" value="" class="wpcf7-form-control wpcf7-number wpcf7-validates-as-required wpcf7-validates-as-number" aria-required="true" aria-invalid="false" required /></span>
															</label> <br />

															<label>
																Enquired for<br />
																<span class="wpcf7-form-control-wrap EnquiryFor">
																	<select name="EnquiryFor" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" id="enquired_for" aria-required="true" aria-invalid="false" style="border-radius: 20px; height:50px; padding: 12px; outline: none;" required>
																		<option value="">Choose your option</option>
																		<option value="Internship">Internship</option>
																		<option value="Software Work">Software Work</option>
																	</select>
																</span>
															</label><br />

															<br>
															<button id="submitBtn" class="btn btn-primary ml-2" style="border-radius:15px; padding: 8px; width: 120px" onclick="showAlert()">Send</button>
														</p>
														<div class="wpcf7-response-output wpcf7-display-none"></div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-element elementor-element-6432f78 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="6432f78" data-element_type="section">
				<div class="elementor-container elementor-column-gap-no">
					<div class="elementor-row">
						<div class="elementor-element elementor-element-10b4dec elementor-column elementor-col-100 elementor-top-column" data-id="10b4dec" data-element_type="column">
							<div class="elementor-column-wrap">
								<div class="elementor-widget-wrap">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-element elementor-element-87ca7b2 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="87ca7b2" data-element_type="section">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-row">
						<div class="elementor-element elementor-element-8b12a15 elementor-column elementor-col-100 elementor-top-column" data-id="8b12a15" data-element_type="column">
							<div class="elementor-column-wrap  elementor-element-populated">
								<div class="elementor-widget-wrap">
									<div class="elementor-element elementor-element-5dff211 elementor-widget elementor-widget-spacer" data-id="5dff211" data-element_type="widget" data-widget_type="spacer.default">
										<div class="elementor-widget-container">
											<div class="elementor-spacer">
												<div class="elementor-spacer-inner"></div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>

<div class="google-map__default">

	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.7555718469!2d80.04585791491127!3d12.859057690929824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52f655da44e3ef%3A0x9b96216d9e7960d3!2sKGE%20TECHNOLOGIES%20PVT%20LTD!5e0!3m2!1sen!2sin!4v1622525089183!5m2!1sen!2sin"
			loading="lazy"></iframe>

</div>