 <div id="page" class="site">
<footer id="site-footer-home2" class="site-footer-home6 site-footer-home2 site-footer-2">
            <div class="shape shape-top" data-negative="false">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" preserveAspectRatio="none">
                    <path class="shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
                </svg>      
            </div>
            <div class="main-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-widget">
                                <h5>Services</h5>
                                <ul class="ft-menu-list">
                                    <li class="ft-menu-item">
                                        <a href="../Seo" target="_blank">SEO</a>
                                    </li>
                                    <li class="ft-menu-item">
                                        <a href="../GraphicsDesign" target="_blank">Graphics Design</a>
                                    </li>
                                    <li class="ft-menu-item">
                                        <a href="../WebHosting" target="_blank">Web Hosting</a>
                                    </li>
                                    <li class="ft-menu-item">
                                        <a href="../LogoDesign" target="_blank">Logo Design</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-widget">
                                <h5>Marketing</h5>
                                <ul class="ft-menu-list">
                                    <li class="ft-menu-item">
                                        <a href="../DigitalMarketing/" target="_blank">Digital marketing</a>
                                    </li>
                                    <li class="ft-menu-item">
                                        <a href="../EmailMarketing" target="_blank">Email Marketing</a>
                                    </li>
                                    <li class="ft-menu-item">
                                        <a href="../WhatsappMarketing" target="_blank">Whatsapp marketing</a>
                                    </li>
                                    <li class="ft-menu-item">
                                        <a href="../SmsMarketing" target="_blank">SMS marketing</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-widget">
                                <h5>Development</h5>
                                <ul class="ft-menu-list">
                                    <li class="ft-menu-item">
                                        <a href="../Application">Application</a>
                                    </li>
                                    <li class="ft-menu-item">
                                        <a href="../MobileApps">Mobile Apps</a>
                                    </li>
                                  
                                </ul>
                            </div>
                        </div>
						<div class="col-lg-3 col-sm-6">
                            <div class="footer-widget">
                                <h5> Internship</h5>
                                <ul class="ft-menu-list">
                                    <li class="ft-menu-item">
                                        <a href="../Cloud">Cloud</a>
                                    </li>
                                    <li class="ft-menu-item">
                                        <a href="../Testing">Testing</a>
                                    </li>
                                    <li class="ft-menu-item">
                                        <a href="../WebDevelopment">

Web Development
</a>
                                    </li>
                                    <li class="ft-menu-item">
                                        <a href="../ECommerce">ECommerce</a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
						
                      
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 xs-text-center">
                            <img src="../images/Kgelogo.png" alt="KGE"><span>  <span><img src="../images/nasscom-member.png" alt="Nasscom" style="width:150px;"></span></span>
							<span style="color:white;">Cloud Partners</span>
							<span> <img src="../images/photo1.png"  style=" border-radius: 250%; width:160px;" alt="AWS"></span>
												
                       </div>
						
                        <div class="col-md-6 col-sm-6 col-xs-12 xs-text-center">
                            <p class="copyright-2 text-right">Copyright © 2021 KGE Technologies</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!-- #site-footer -->
		</div>
		
    <!-- Popup footer -->

 
</div>