   <header id="site-header" class="site-header header-style-1 home-6 header-overlay header-fullwidth sticky-header mobile-header-sticky">
   <div class="octf-main-header">
                <div class="octf-area-wrap">
                    <div class="container-fluid octf-mainbar-container">
                        <div class="octf-mainbar">
                            <div class="octf-mainbar-row octf-row">
                                <!-- logo start -->
                                <div class="octf-col">
                                    <div id="site-logo" class="site-logo">
                                        <a href="index.html">
                                            <img width="80px" height="80px" src="images/KgeMain.png" alt="KGE">
                                        </a>
                                    </div>
                                </div>
                                <!-- logo start -->
                                <div class="nasscomm-container">
                                    <img src="images/nassccom-logo.png" width="100px" height="30px" alt="Nasscomm image">
                                    <span>Nasscomm</span>
                                </div>
                                <!-- nav start -->
                                <div class="octf-col">
                                    <nav id="site-navigation" class="main-navigation">          
                                        <ul id="primary-menu" class="menu">
                                            <li class=""> <a href="home.html" >Home</a>
                                  
                                </li>
                                <li class="menu-item-has-children"><a href="services.html">Services</a>
                                    <ul class="sub-menu">
                                        <li><a href="Seo.html">SEO</a></li>
                                        <li><a href="GraphicsDesign.html">Graphics Design</a></li>
                                        <li><a href="WebHosting.html">Web Hosting</a></li>
                                        <li><a href="LogoDesign.html">Logo Design</a></li>
                                        <li><a href="CloudSupport.html">Cloud Support</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="Marketing.html">Marketing</a>
                                    <ul class="sub-menu">
                                        <li><a href="DigitalMarketing.html">Digital marketing</a></li>
                                        <li><a href="EmailMarketing.html">Email Marketing</a></li>
                                        <li><a href="WhatsappMarketing.html">Whatsapp marketing</a></li>
                                        <li><a href="SmsMarketing.html">SMS marketing</a></li>
                                        
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="Development.html">Development</a>
                                    <ul class="sub-menu">
                                        <li><a href="Application.html">Application</a></li>
                                        <li><a href="MobileApps.html">Mobile Apps</a></li>
                                       
                                    </ul>
                                </li>
                                            <li class="menu-item-has-children">
                                                 <a href="Internship.html">Internship</a>
                                                 <ul class="sub-menu">
												    <li class="menu">
												  <a href="Cloud.html">Cloud</a>
												  <ul class="sub-menu right">
                                                             <li><a href="AWS.html">AWS</a></li>
                                                             <li><a href="Azure.html">Azure</a></li>
                                                             <li><a href="Google.html">Google</a></li>

                                                         </ul>
                                                     </li>
													   <li class="menu">
												  <a href="MobileApps.html">Mobile Apps</a>
												  <ul class="sub-menu right">
                                                             <li><a href="Android.html">Android</a></li>
                                                             <li><a href="IOS.html">IOS</a></li>
                                                             <li><a href="Flutter.html">Flutter</a></li>

                                                         </ul>
														 
                                                     </li>
													   <li class="menu">
												  <a href="WebDevelopment.html">Web Development</a>
												  <ul class="sub-menu right">
                                                             <li><a href="UIDeveloper.html">UI Developer</a></li>
                                                             <li><a href="UXDeveloper.html">UX Developer</a></li>
                                                             <li><a href="Angular.html">Angular</a></li>
                                                             <li><a href="React.html">React</a></li>

                                                         </ul>
                                                     </li>
												
													 <li class="menu">
												  <a href="ECommerce.html">ECommerce</a>
												  <ul class="sub-menu right">
                                                             <li><a href="Wordpress.html">Wordpress</a></li>
                                                             <li><a href="CustomERP.html">Custom ERP</a></li>
                                 
                                                         </ul>
                                                     </li>
													 		 <li class="menu">
												  <a href="Software.html">Software</a>
												  <ul class="sub-menu right">
                                                             <li><a href="DotNet.html">DotNet</a></li>
                                                             <li><a href="Java.html">Java</a></li>
                                                             <li><a href="SQL.html">SQL</a></li>
                                                             <li><a href="ERP.html">ERP</a></li>
                                                             <li><a href="CRM.html">CRM</a></li>
                                 
                                                         </ul>
                                                     </li>
													  		 <li class="menu">
												  <a href="Testing.html">Testing</a>
												  <ul class="sub-menu right">
                                                             <li><a href="Manual.html">Manual</a></li>
                                                             <li><a href="Automation.html">Automation</a></li>
                                                                                              
                                                         </ul>
                                                     </li>
													 	  		 <li class="menu">
												  <a href="Management.html">Management</a>
												  <ul class="sub-menu right">
                                                             <li><a href="HR.html">HR</a></li>
                                                             <li><a href="Finance.html">Finance</a></li>
                                                             <li><a href="MarketingIntern.html">Marketing</a></li>
                                                             <li><a href="Business.html">Business Development</a></li>
                                                             <li><a href="Legal.html"> Legal</a></li>
                                                             <li><a href="Project.html"> Project Management</a></li>
                                                                                              
                                                         </ul>
                                                     </li>
													 </li>
												</ul>   
                                            <li class="menu-item-has-children"><a href="MoreDetails.html">More Details</a>
                                                <ul class="sub-menu">
                                                    <li><a href="OurTeam.html">Our Team</a></li>
                                                    <li><a href="Process.html">Our Process</a></li>
                                                    <li><a href="ReachUs.html">Reach Us</a></li>
                                                    <li><a href="Terms.html">Terms & Conditions</a></li>
                                                    <li><a href="Privacy.html">Privacy</a></li>
                                                </ul>
                                            </li>
                                            <li class=""><a href="contactus.html">Contacts us</a>
                                                
                                            </li>
										
											
											
											
											
											
                                                                    
                                    </nav><!-- #site-navigation -->
                                </div>

                                <div class="octf-col text-right">
                                <!-- Call To Action -->
                                    <div class="octf-btn-cta">                                                                      
                                       
                                        <div class="octf-header-module">
                                            <div class="toggle_search octf-cta-icons">
                                               
                                            </div>
                                            <!-- Form Search on Header -->
                                            <div class="h-search-form-field">
                                                <div class="h-search-form-inner">
                                                    <form role="search" method="get" id="search-form" class="search-form" action="">
                                                        <input type="search" class="search-field" placeholder="Search…" value="" name="s">
                                                        <button type="submit" class="search-submit"></button>
                                                    </form>                                         
                                                </div>                                  
                                            </div>
                                        </div>
                                    </div>                              
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
			
			 
			 </header>