<header id="site-header" class="site-header header-style-1 home-6 header-overlay header-fullwidth sticky-header mobile-header-sticky">
    <div class="octf-main-header">
                 <div class="octf-area-wrap">
                     <div class="container-fluid octf-mainbar-container">
                         <div class="octf-mainbar">
                             <div class="octf-mainbar-row octf-row">
                                 <!-- logo start -->
                                 <div class="octf-col">
                                     <div id="site-logo" class="site-logo">
                                         <a href="/kgetechnologies.com/index.html">
                                             <img class="logo-static" src="/kgetechnologies.com/images/KgeMain.png" alt="KGE">
                                             <img class="logo-scroll" src="/kgetechnologies.com/images/KgeMain.png" alt="KGE">
                                         </a>
                                     </div>
                                 </div>
                                 <!-- logo start -->
                                 <div class="nassccom-container">
                                    <img src="/kgetechnologies.com/images/nassccom-logo.png" alt="Nassccom logo">
                                    <span>Member</span>
                                </div>
                                 <!-- nav start -->
                                 <div class="octf-col">
                                     <nav id="site-navigation" class="main-navigation">          
                                         <ul id="primary-menu" class="menu">
                                             <li class=""> <a href="/index.html" >Home</a>                                   
                                 </li>
                                 <li class="menu-item-has-children"><a href="/kgetechnologies.com/services/index.html">Services</a>
                                     <ul class="sub-menu">
                                         <li><a href="/kgetechnologies.com/Seo/index.html">SEO</a></li>
                                         <li><a href="/kgetechnologies.com/GraphicsDesign/index.html">Graphics Design</a></li>
                                         <li><a href="/kgetechnologies.com/WebHosting/index.html">Web Hosting</a></li>
                                         <li><a href="/kgetechnologies.com/LogoDesign/index.html">Logo Design</a></li>
                                         <li><a href="/kgetechnologies.com/CloudSupport/index.html">Cloud Support</a></li>
                                     </ul>
                                 </li>
                                 <li class="menu-item-has-children"><a href="/kgetechnologies.com/Marketing/index.html">Marketing</a>
                                     <ul class="sub-menu">
                                         <li><a href="/kgetechnologies.com/DigitalMarketing/index.html">Digital marketing</a></li>
                                         <li><a href="/kgetechnologies.com//EmailMarketing/index.html">Email Marketing</a></li>
                                         <li><a href="/kgetechnologies.com//WhatsappMarketing/index.html">Whatsapp marketing</a></li>
                                         <li><a href="/kgetechnologies.com//SmsMarketing/index.html">SMS marketing</a></li>
                                         
                                     </ul>
                                 </li>
                                 <li class="menu-item-has-children"><a href="/kgetechnologies.com//Development/index.html">Development</a>
                                     <ul class="sub-menu">
                                         <li><a href="/kgetechnologies.com//Application/index.html">Application</a></li>
                                         <li><a href="/kgetechnologies.com//MobileApps/index.html">Mobile Apps</a></li>
                                        
                                     </ul>
                                 </li>
                                             <li class="menu-item-has-children">
                                                  <a href="/kgetechnologies.com//Internship/index.html">Internship</a>
                                                  <ul class="sub-menu">
                                                     <li class="menu">
                                                   <a href="/kgetechnologies.com//Cloud/index.html">Cloud</a>
                                                   <ul class="sub-menu right">
                                                              <li><a href="/kgetechnologies.com/AWS.html">AWS</a></li>
                                                              <li><a href="/kgetechnologies.com//Azure/index.html">Azure</a></li>
                                                              <li><a href="/kgetechnologies.com//Google/index.html">Google</a></li>
 
                                                          </ul>
                                                      </li>
                                                        <li class="menu">
                                                   <a href="/kgetechnologies.com//MobileApps/index.html">Mobile Apps</a>
                                                   <ul class="sub-menu right">
                                                              <li><a href="/kgetechnologies.com//Android/index.html">Android</a></li>
                                                              <li><a href="/kgetechnologies.com//IOS/index.html">IOS</a></li>
                                                              <li><a href="/kgetechnologies.com//Flutter/index.html">Flutter</a></li>
 
                                                          </ul>
                                                          
                                                      </li>
                                                        <li class="menu">
                                                   <a href="/kgetechnologies.com//WebDevelopment/index.html">Web Development</a>
                                                   <ul class="sub-menu right">
                                                              <li><a href="/kgetechnologies.com//UIDeveloper/index.html">UI Developer</a></li>
                                                              <li><a href="/kgetechnologies.com//UXDeveloper/index.html">UX Developer</a></li>
                                                              <li><a href="/kgetechnologies.com//Angular/index.html">Angular</a></li>
                                                              <li><a href="/kgetechnologies.com//React/index.html">React</a></li>
 
                                                          </ul>
                                                      </li>
                                                 
                                                      <li class="menu">
                                                   <a href="/kgetechnologies.com//ECommerce/index.html">ECommerce</a>
                                                   <ul class="sub-menu right">
                                                              <li><a href="/kgetechnologies.com//Wordpress/index.html">Wordpress</a></li>
                                                              <li><a href="/kgetechnologies.com//CustomERP/index.html">Custom ERP</a></li>
                                  
                                                          </ul>
                                                      </li>
                                                               <li class="menu">
                                                   <a href="/kgetechnologies.com//Software/index.html">Software</a>
                                                   <ul class="sub-menu right">
                                                              <li><a href="/kgetechnologies.com//DotNet/index.html">DotNet</a></li>
                                                              <li><a href="/kgetechnologies.com//Java/index.html">Java</a></li>
                                                              <li><a href="/kgetechnologies.com//SQL/index.html">SQL</a></li>
                                                              <li><a href="/kgetechnologies.com//ERP/index.html">ERP</a></li>
                                                              <li><a href="/kgetechnologies.com//CRM/index.html">CRM</a></li>
                                  
                                                          </ul>
                                                      </li>
                                                                <li class="menu">
                                                   <a href="/kgetechnologies.com//Testing/index.html">Testing</a>
                                                   <ul class="sub-menu right">
                                                              <li><a href="/kgetechnologies.com//Manual/index.html">Manual</a></li>
                                                              <li><a href="/kgetechnologies.com//Automation/index.html">Automation</a></li>
                                                                                               
                                                          </ul>
                                                      </li>
                                                                     <li class="menu">
                                                   <a href="/kgetechnologies.com//Management/index.html">Management</a>
                                                   <ul class="sub-menu right">
                                                              <li><a href="/kgetechnologies.com//HR/index.html">HR</a></li>
                                                              <li><a href="/kgetechnologies.com//Finance/index.html">Finance</a></li>
                                                              <li><a href="/MarketingIntern/index.html">Marketing</a></li>
                                                              <li><a href="/kgetechnologies.com//Business/index.html">Business Development</a></li>
                                                              <li><a href="/kgetechnologies.com//Legal/index.html"> Legal</a></li>
                                                              <li><a href="/kgetechnologies.com//Project/index.html"> Project Management</a></li>
                                                                                               
                                                          </ul>
                                                      </li>
                                                      </li>
                                                 </ul>   
                                             <li class="menu-item-has-children"><a href="/kgetechnologies.com//MoreDetails/index.html">More Details</a>
                                                 <ul class="sub-menu">
                                                     <li><a href="/kgetechnologies.com//OurTeam/index.html">Our Team</a></li>
                                                     <li><a href="/kgetechnologies.com//Process/index.html">Our Process</a></li>
                                                     <li><a href="/kgetechnologies.com//ReachUs/index.html">Reach Us</a></li>
                                                     <li><a href="/kgetechnologies.com//Terms/index.html">Terms & Conditions</a></li>
                                                     <li><a href="/kgetechnologies.com//Privacy/index.html">Privacy</a></li>
                                                 </ul>
                                             </li>
                                             <li class=""><a href="/kgetechnologies.com//ReachUs/index.html">Reach Us</a>
                                                 
                                             </li>
                                         
                                             
                                             
                                             
                                             
                                             
                                                                     
                                     </nav><!-- #site-navigation -->
                                 </div>
 
                                 <div class="octf-col text-right">
                                 <!-- Call To Action -->
                                     <div class="octf-btn-cta">                                                                      
                                        
                                         <div class="octf-header-module">
                                             <div class="toggle_search octf-cta-icons">
                                                
                                             </div>
                                             <!-- Form Search on Header -->
                                             <div class="h-search-form-field">
                                                 <div class="h-search-form-inner">
                                                     <form role="search" method="get" id="search-form" class="search-form" action="">
                                                         <input type="search" class="search-field" placeholder="Search…" value="" name="s">
                                                         <button type="submit" class="search-submit"></button>
                                                     </form>                                         
                                                 </div>                                  
                                             </div>
                                         </div>
                                     </div>                              
                                 </div>
 
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             
              
              </header>