<header id="site-header" class="site-header header-style-1 home-6 header-overlay header-fullwidth sticky-header mobile-header-sticky">
    <div class="octf-main-header">
                 <div class="octf-area-wrap">
                     <div class="container-fluid octf-mainbar-container">
                         <div class="octf-mainbar">
                             <div class="octf-mainbar-row octf-row">
                                 <!-- logo start -->
                                 <div class="octf-col">
                                     <div id="site-logo" class="site-logo">
                                         <a href="/">
                                             <img class="logo-static" src="../images/KgeMain.png" alt="KGE">
                                             <img class="logo-scroll" src="../images/KgeMain.png" alt="KGE">
                                         </a>
                                     </div>
                                 </div>
                                 <!-- logo start -->
                                 <div class="nassccom-container">
                                    <img src="../images/nassccom-logo.png" alt="Nassccom logo">
                                    <span>Member</span>
                                </div>
                                 <!-- nav start -->
                                 <div class="octf-col">
                                     <nav id="site-navigation" class="main-navigation">          
                                         <ul id="primary-menu" class="menu">
                                             <li class=""> <a href="../" >Home</a>                                   
                                 </li>
                                 <li class="menu-item-has-children"><a href="../services/">Services</a>
                                     <ul class="sub-menu">
                                         <li><a href="../Seo">SEO</a></li>
                                         <li><a href="../GraphicsDesign">Graphics Design</a></li>
                                         <li><a href="../WebHosting">Web Hosting</a></li>
                                         <li><a href="../LogoDesign">Logo Design</a></li>
                                         <li><a href="../CloudSupport">Cloud Support</a></li>
                                     </ul>
                                 </li>
                                 <li class="menu-item-has-children"><a href="../Marketing">Marketing</a>
                                     <ul class="sub-menu">
                                         <li><a href="../DigitalMarketing">Digital marketing</a></li>
                                         <li><a href="../EmailMarketing">Email Marketing</a></li>
                                         <li><a href="../WhatsappMarketing">Whatsapp marketing</a></li>
                                         <li><a href="../SmsMarketing">SMS marketing</a></li>
                                         
                                     </ul>
                                 </li>
                                 <li class="menu-item-has-children"><a href="../Development">Development</a>
                                     <ul class="sub-menu">
                                         <li><a href="../Application">Application</a></li>
                                         <li><a href="../MobileApps">Mobile Apps</a></li>
                                        
                                     </ul>
                                 </li>
                                             <li class="menu-item-has-children">
                                                  <a href="../Internship">Internship</a>
                                                  <ul class="sub-menu">
                                                     <li class="menu">
                                                   <a href="../Cloud">Cloud</a>
                                                   <ul class="sub-menu right">
                                                              <li><a href="../AWS">AWS</a></li>
                                                              <li><a href="../Azure">Azure</a></li>
                                                              <li><a href="../Google">Google</a></li>
 
                                                          </ul>
                                                      </li>
                                                        <li class="menu">
                                                   <a href="../MobileApps">Mobile Apps</a>
                                                   <ul class="sub-menu right">
                                                              <li><a href="../Android">Android</a></li>
                                                              <li><a href="../IOS">IOS</a></li>
                                                              <li><a href="../Flutter">Flutter</a></li>
 
                                                          </ul>
                                                          
                                                      </li>
                                                        <li class="menu">
                                                   <a href="../WebDevelopment">Web Development</a>
                                                   <ul class="sub-menu right">
                                                              <li><a href="../UIDeveloper">UI Developer</a></li>
                                                              <li><a href="../UXDeveloper">UX Developer</a></li>
                                                              <li><a href="../Angular">Angular</a></li>
                                                              <li><a href="../React">React</a></li>
 
                                                          </ul>
                                                      </li>
                                                 
                                                      <li class="menu">
                                                   <a href="../ECommerce">ECommerce</a>
                                                   <ul class="sub-menu right">
                                                              <li><a href="../Wordpress">Wordpress</a></li>
                                                              <li><a href="../CustomERP">Custom ERP</a></li>
                                  
                                                          </ul>
                                                      </li>
                                                               <li class="menu">
                                                   <a href="../Software">Software</a>
                                                   <ul class="sub-menu right">
                                                              <li><a href="../DotNet">DotNet</a></li>
                                                              <li><a href="../Java">Java</a></li>
                                                              <li><a href="../SQL">SQL</a></li>
                                                              <li><a href="../ERP">ERP</a></li>
                                                              <li><a href="../CRM">CRM</a></li>
                                  
                                                          </ul>
                                                      </li>
                                                                <li class="menu">
                                                   <a href="../Testing">Testing</a>
                                                   <ul class="sub-menu right">
                                                              <li><a href="../Manual">Manual</a></li>
                                                              <li><a href="../Automation">Automation</a></li>
                                                                                               
                                                          </ul>
                                                      </li>
                                                                     <li class="menu">
                                                   <a href="../Management">Management</a>
                                                   <ul class="sub-menu right">
                                                              <li><a href="../HR">HR</a></li>
                                                              <li><a href="../Finance">Finance</a></li>
                                                              <li><a href="../MarketingIntern">Marketing</a></li>
                                                              <li><a href="../Business">Business Development</a></li>
                                                              <li><a href="../Legal"> Legal</a></li>
                                                              <li><a href="../Project"> Project Management</a></li>
                                                                                               
                                                          </ul>
                                                      </li>
                                                      </li>
                                                 </ul>   
                                             <li class="menu-item-has-children"><a href="../MoreDetails">More Details</a>
                                                 <ul class="sub-menu">
                                                     <li><a href="../OurTeam">Our Team</a></li>
                                                     <li><a href="../Process">Our Process</a></li>
                                                     <li><a href="../ReachUs">Reach Us</a></li>
                                                     <li><a href="../Terms">Terms & Conditions</a></li>
                                                     <li><a href="../Privacy">Privacy</a></li>
                                                 </ul>
                                             </li>
                                             <li class=""><a href="../ReachUs">Reach Us</a>
                                            

                                                 
                                             </li>
                                         
                                             
                                             
                                            

                                             
                                             
                                            
                                     </nav><!-- #site-navigation -->
                                     <script async src="https://cse.google.com/cse.js?cx=1640481473f43ad9b"></script>
                                     <div class="gcse-search"></div>
                                 </div>
 
                                 
                                 

                                 <div class="octf-col text-right">
                                 <!-- Call To Action -->
                                     <div class="octf-btn-cta">                                                                      
                                        
                                         <div class="octf-header-module">
                                             <div class="toggle_search octf-cta-icons">
                                                
                                             </div>
                                             <!-- Form Search on Header -->
                                             <div class="h-search-form-field">
                                                 <div class="h-search-form-inner">
                                                     <form role="search" method="get" id="search-form" class="search-form" action="">
                                                         <input type="search" class="search-field" placeholder="Search…" value="" name="s">
                                                         <button type="submit" class="search-submit"></button>
                                                     </form>                                         
                                                 </div>                                  
                                             </div>
                                         </div>
                                     </div>                              
                                 </div>
 
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             
             <script async src="https://cse.google.com/cse.js?cx=1640481473f43ad9b"></script>
             <div class="gcse-search"></div>
              </header>